@charset "UTF-8";
@font-face {
  font-family: 'FuturaPTDemi';
  src: url("../fonts/FuturaPTDemi.eot");
  src: url("../fonts/FuturaPTDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTDemi.woff") format("woff"), url("../fonts/FuturaPTDemi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlFresco';
  src: local("../fonts/AlFresco Bold"), local("AlFresco-Bold"), url("../fonts/AlFresco-Bold.woff2") format("woff2"), url("../fonts/AlFresco-Bold.woff") format("woff"), url("../fonts/AlFresco-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bask';
  src: url("../fonts/BaskervilleSerial-Black.eot");
  src: local("☺"), url("../fonts/BaskervilleSerial-Black.woff") format("woff"), url("../fonts/BaskervilleSerial-Black.ttf") format("truetype"), url("../fonts/BaskervilleSerial-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  background-color: #aebbc7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner {
  width: 950px;
  height: 530px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 35px 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-top: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li + li {
  padding-left: 20px;
}

.header__menu .menu-item {
  float: left;
  text-transform: uppercase;
  font-family: 'FuturaPTDemi';
  font-size: 10px;
  letter-spacing: 0.5px;
}

.header__menu .menu-item a {
  color: #c0c0c0;
}

.header__menu .menu-item a:hover {
  color: #fff;
}

.header__menu .menu-item.selected a {
  color: #fff;
}

.text {
  margin-top: -30px;
  margin-left: 25px;
}

.text__number {
  margin-left: -12px;
  font-family: 'Bask';
  font-size: 110px;
  color: #632a42d6;
}

.text__title {
  color: #fff;
  margin-top: -50px;
}

.text__title .beauty {
  font-family: 'AlFresco';
  font-size: 46px;
  line-height: 0px;
}

.text__title .castle {
  font-family: 'Bask';
  font-size: 45px;
  line-height: 0;
  letter-spacing: 0.3px;
  margin-top: -5px;
}

.text__content {
  width: 380px;
  font-family: 'FuturaPTDemi';
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top: -5px;
  padding-left: 45px;
  padding-bottom: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__gallary {
  width: 800px;
  height: 533px;
}

.footer__menu {
  width: 400px;
  margin-top: -20px;
  text-align: right;
  padding-top: 20px;
}

.footer__menu-item {
  font-family: 'Bask';
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.footer__menu-item a {
  color: rgba(255, 255, 255, 0.6);
}

.footer__menu-item a:hover {
  font-size: 20px;
  line-height: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__menu-item.selected {
  font-size: 20px;
  color: #fff;
  position: relative;
}

.footer__menu-item.selected a {
  color: #fff;
}

.footer__menu-item.selected:after {
  content: ".";
  font-size: 30px;
  margin-top: -14px;
  padding-left: 12px;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */